[project]
	description = A deployment tool for Salesforce
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Scot P. Floess (sfloess)
[access "refs/for/refs/*"]
	read = group user/Scot P. Floess (sfloess)
	push = group user/Scot P. Floess (sfloess)
	label-Code-Review = -2..+2 group user/Scot P. Floess (sfloess)
	label-Verified = -1..+1 group user/Scot P. Floess (sfloess)
	rebase = group user/Scot P. Floess (sfloess)
	removeReviewer = group user/Scot P. Floess (sfloess)
	submit = group user/Scot P. Floess (sfloess)
[access "refs/heads/*"]
	read = group user/Scot P. Floess (sfloess)
	create = group user/Scot P. Floess (sfloess)
	push = +force group user/Scot P. Floess (sfloess)
	pushMerge = group user/Scot P. Floess (sfloess)
[access "refs/tags/*"]
	push = +force group user/Scot P. Floess (sfloess)
	pushTag = group user/Scot P. Floess (sfloess)
	pushSignedTag = group user/Scot P. Floess (sfloess)
